{% extends 'base.html' %}

{% block content %}
    <h2 class="text-2xl font-semibold mb-4">Панель:</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <div class="bg-blue-100 p-4 rounded-lg text-center">
            <p class="text-lg font-medium">Общий заработок</p>
            <p class="text-2xl font-bold text-blue-600">{{ total_income }} р</p>
        </div>
        <div class="bg-red-100 p-4 rounded-lg text-center">
            <p class="text-lg font-medium">Общие траты</p>
            <p class="text-2xl font-bold text-red-600">{{ total_expense }} р</p>
        </div>
        <div class="bg-green-100 p-4 rounded-lg text-center">
            <p class="text-lg font-medium">Баланс</p>
            <p class="text-2xl font-bold text-green-600">{{ balance }} р</p>
        </div>
    </div>

    <div class="mb-6">
        <a href="{{ url_for('transactions') }}" class="text-white bg-blue-600 hover:bg-blue-700 py-2 px-4 rounded-lg">
            Добавить новую транзакцию!
        </a>
    </div>

    <h3 class="text-xl font-semibold mb-4">Недавние транзакции</h3>
    <ul class="space-y-4">
        {% for transaction in transactions %}
            <li class="bg-gray-100 p-4 rounded-lg flex justify-between items-center">
                <div>
                    <p class="text-gray-700">{{ transaction.date }} - {{ transaction.description }} - {{ transaction.amount }} р ({{ transaction.type }})</p>
                </div>
                <a href="{{ url_for('delete_transaction', id=transaction.id) }}" class="text-red-600 hover:text-red-800">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
